.vaga {
  border: 1px solid var(--cor-principal);
  background-color: var(--cor-secundaria);
  color: var(--cor-principal);
  padding: 16px;
<<<<<<< HEAD
  transition: all ease 0.3s;
=======
  transition: all ease .3s;
>>>>>>> 6b75ea68847c2a67da4aa2679f111c99ca9da97a
  border-radius: 8px;
}

.vagaTitulo {
  font-weight: bold;
  margin-bottom: 16px;
}

.vagaLink {
  border-color: var(--cor-secundaria);
<<<<<<< HEAD
  background-color: var(--cor-principal);
  color: var(--cor-secundaria);
  display: inline-block;
  padding: 8px 16px;
  text-decoration: none;
  margin-top: 16px;
  font-weight: bold;
  font-size: 14px;
  border-radius: 8px;
  text-align: center;

  @media (max-width: 768px) {
    display: block;
  }
=======
    background-color: var(--cor-principal);
    color: var(--cor-secundaria);
    display: inline-block;
    padding: 8px 16px;
    text-decoration: none;
    margin-top: 16px;
    font-weight: bold;
    font-size: 14px;
    border-radius: 8px;
    text-align: center;

    @media (max-width: 768px) {
      display: block;
    }
>>>>>>> 6b75ea68847c2a67da4aa2679f111c99ca9da97a
}

.vaga:hover {
  background-color: var(--cor-principal);
  color: var(--cor-secundaria);
}

.vaga:hover a {
  border-color: var(--cor-principal);
  background-color: var(--cor-secundaria);
  color: var(--cor-principal);
}
